@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  font-family: 'Fira Mono', Avenir, Helvetica, Arial, sans-serif, system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url("/universal_white.png");
  background-size: 512px 512px;
  background-repeat: repeat;
  background-position: center;
}

@keyframes rock {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

*, .cursor-default {
  cursor: url('/cursor/ArrowCursor.png') 22 22, auto;
}

a, button, [role="button"], .cursor-pointer {
  cursor: url('/cursor/DragCursor.png') 35 22, pointer;
}

a *, button *, [role="button"] *, .cursor-pointer * {
  cursor: inherit;
}

.cursor-crosshair {
  cursor: url('/cursor/GunCursor.png') 41 41, crosshair;
}

.cursor-crosshair * {
  cursor:inherit
}
